ul{
    text-align: center;
    list-style: none;
}

h1{
    text-align: center;
    padding-top:10px;
	padding-left:40px;
	font-size:70px;
}

h2{
    text-align: center;
}

.header{
	height:220px;
	background-color:#ffffe0;
}

.main{
	height:400px;
}

.rireki{
    height:200px
}

.footer{
	height:300px;
	background-color:#ffa500;
}

.rinku{
	font-size:20px;
}

